body {
  margin: 0;
  font-family: 'Proxima Nova', Arial, sans-serif; /* Fallback fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Proxima Nova', Arial, sans-serif; /* Fallback fonts */
}
